.form{
    margin:10px 0px 0px 10px;
    height:179px;
    /* width:100vw; */
}
.MuiCalendarPicker-root{
    background-color: rgba(247, 244, 242, 0.808);
    box-shadow: 10px 10px 20px black;
    margin-left:200px;

}
.MuiOutlinedInput-root{
    width: 80%;
}
.checks{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width:200px;
}
/* .checks>label{

} */